* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Roboto, Inter, Lora, Fjalla One, Roboto mono, Dancing Script, sans-serif;
}

header {
    display: flex;
    grid-area: cabecera;
    background-color: lightcoral;
    justify-content: center;
}

header h1 {
    font-family: Dancing Script, sans-serif;
    text-align: center;
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header img {
    width: auto;
    height: 100px;
    margin-right: 1rem;
}

menu {
    grid-area: menu-lateral;
    background-color: lightpink;
    background-image: linear-gradient(to bottom, lightpink, bisque);
}

menu .lista-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

menu .lista-menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

menu .lista-menu li a:hover {
    background-color: white;
    color: lightpink;
    border-radius: 5px;
}

main {
    grid-area: contenido;
    font-family: Lora, serif;
    background-color: lightyellow;
}

.contenido-principal {
    padding: 2rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    line-height: 1.6;
    background-color: bisque;
    font-family: Inter, sans-serif;
}

.galeria {
    text-align: center;
    align-items: center;
    padding: 1rem;
    background-color: lightyellow;
    color: white;
    text-shadow: 1px 1px 3px rgba(0.5, 0.5, 0.5, 0.5);
    font-family: Lora, sans-serif;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.galeria h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 2rem;
}
.tarjetas {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
    justify-content: center;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: lightcoral;
    background-image: radial-gradient(lightcoral,lightpink,bisque);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: Raleway, sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
    width: 200px;
    height: auto;
    object-fit:contain;

}

.tarjeta:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta h4 {
    margin: 0.5rem 0;
}

footer {
    grid-area: pie-de-pagina;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}
svg:hover {
    transform: scale(1.2);
    fill: lightgray;
}
footer p {
    font-size: large;
    padding: 1rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width:576px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "cabecera"
            "menu-lateral"
            "contenido"
            "pie-de-pagina";
        grid-template-rows: 1fr 2fr 12fr 1fr;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    header {
        background-image: linear-gradient(to bottom, lightcoral, lightpink);

    }

    menu {
        background-image: linear-gradient(to bottom, lightpink, bisque);
    }

    main {
        background-image: linear-gradient(to bottom, bisque, lightyellow);
    }

    .galeria {
        background-image: linear-gradient(to bottom, bisque, lightyellow);
    }

}

@media (min-width:577px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "cabecera cabecera"
            "contenido menu-lateral"
            "pie-de-pagina pie-de-pagina ";
        grid-template-rows: 1fr 12fr 1fr;
        grid-template-columns: 3fr 1fr;
        height: 100vh;
    }
}