* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Roboto, Inter, Lora, Fjalla One, Roboto mono, Dancing Script, sans-serif;
}

header {
    display: flex;
    grid-area: cabecera;
    background-color: lightcoral;
    justify-content: center;
}

header h1 {
    font-family: Dancing Script, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header img {
    width: auto;
    height: 125px;
    margin-right: 1rem;
    margin-top: 1rem;
}

menu {
    grid-area: menu-lateral;
    background-color: lightpink;
    background-image: linear-gradient(to bottom, lightpink, bisque);
}

menu .lista-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

menu .lista-menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

menu .lista-menu li a:hover {
    background-color: white;
    color: lightpink;
    border-radius: 5px;
}

main {
    grid-area: contenido;
    font-family: Lora, serif;
    background-color: lightyellow;
}

main h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenido-principal {
    padding: 2rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    line-height: 1.6;
    background-color: rgb(255, 211, 157);
    font-family: Inter, sans-serif;
}

.contenido-principal h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 1rem;
}

.contenido-principal h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.galeria {
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0.5, 0.5, 0.5, 0.5);
    font-family: Lora, sans-serif;
    font-size: 1.8rem;
}

.galeria h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 2rem;
}

.tarjetas {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
    justify-content: center;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: lightcoral;
    background-image: radial-gradient(lightcoral, lightpink, bisque);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: Raleway, sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
    width: 200px;
    height: auto;
    object-fit: contain;

}

.tarjeta:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta h4 {
    margin: 0.5rem 0;
}

footer {
    grid-area: pie-de-pagina;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}

svg:hover {
    transform: scale(1.2);
    fill: lightgray;
}

footer p {
    font-size: large;
    padding: 1rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width:576px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "cabecera"
            "menu-lateral"
            "contenido"
            "pie-de-pagina";
        grid-template-columns: 1fr;
        height: 100vh;
    }

    header {
        background-image: linear-gradient(to bottom, lightcoral, lightpink);

    }

    menu {
        background-image: linear-gradient(to bottom, lightpink, rgb(255, 211, 157));
    }

    menu .lista-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        background-image: linear-gradient(to bottom, rgb(255, 211, 157), lightyellow);
    }

    .galeria {
        grid-template-columns: 1fr;
        background-image: linear-gradient(to bottom, rgb(255, 211, 157), lightyellow);
    }

}

@media (min-width:768px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "cabecera cabecera"
            "contenido menu-lateral"
            "pie-de-pagina pie-de-pagina ";
        grid-template-columns: 4fr 1fr;
        height: 100vh;
    }

    header {
        background-image: linear-gradient(to bottom, lightcoral, rgb(255, 211, 157));
    }

    .imagenes-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 2rem;
    }

    menu {
        background-image: linear-gradient(to right, rgb(255, 211, 157), lightpink);
    }
    menu .lista-menu{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;
    }
    main{
        background-image: linear-gradient(to bottom, rgb(255, 211, 157), lightyellow);
    }
}

@media (min-width:1092px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "cabecera cabecera"
            "contenido menu-lateral"
            "pie-de-pagina pie-de-pagina ";
        grid-template-columns: 4fr 1fr;
        height: 100vh;
    }

    header {
        background-image: linear-gradient(to bottom, lightcoral, rgb(255, 211, 157));
    }

    .imagenes-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-top: 2rem;
    }

    menu {
        background-image: linear-gradient(to right, rgb(255, 211, 157), lightpink);
    }
}